@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alexandria:wght@400;700&family=Kanit&family=Lobster&family=Noto+Sans+JP:wght@400;900&family=Poppins&family=Prompt&family=Roboto+Mono&family=Sono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 *,
 ::before,
 ::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 html, body {
     overflow-x: hidden;
 }

body {
    background: #646E78;
    /*background: #858F99;*/
    color: white;
    font-family: 'Alexandria', sans-serif;
}

.title {
    font-size: 1.6rem;
}

.couleurSignature {
    color: #B0E298;
}
.couleurPrix {
    color: #ECDD7B;
}

.test {
    font-style: normal;
}
.test:nth-child(2) {
    color: #ECDD7B;
    font-weight: bold;
    cursor: pointer;
}

.selected {
    background: black;
    color: white;
}

.unselected {
    background: white;
    color: black;
}

.myclass {
    background: linear-gradient(to right bottom, #2f3441 50%, #f6f6f6 50%)
}
.myclass2 {
    background: linear-gradient(to right bottom, #2f2d30 50%, #ebc114 50%)
}
.myclass3 {
    background: linear-gradient(to right bottom, #c0bfbc 50%, #f6f6f6 50%)
}